body{
	height             : 100vh;
	width              : 100vw;
	background-image   : url('../images/background.png');
	background-position: center bottom;
	background-repeat  : no-repeat;
	margin             : 0;
	background-color   : lightblue;
}

.cvander{	
	width     : 166px;
	height    : 171px;	
	position  : absolute;
	left      : 150px;
	bottom    : 0;		
	overflow: hidden;
	transition: .3s;
	/*animation: tiempo nombre de animacion*/
}

.cvander:hover{

}

.cvander:hover .cvander-head{	
	/*transform: translateY(5px);*/
	animation: .5s cvander infinite;
}

.cvander-body{
	position: absolute;
	left    : 0;
	bottom  : 0;
}

.cvander-head{
	position: absolute;
	left    : 0;
	top     : 0;
	transition: .3s;	
}

.cvander-ipad{
	position: absolute;
	left    : 0;
	bottom  : -20px;
}

@keyframes cvander {
	/*from {
		/*border: 1px solid red;*//*
	}
	to {
		transform: translateY(5px);
	}*/

	/*0%{

	}*/
	50%{
		transform: translateY(5px) rotate(2deg);
	}
	100%{
		transform: translateY(0px);
	}
}